<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>

    <style>

        body {
            background-color: whitesmoke;
            margin: 20px;
        }

        #app {
            padding: 10px;
            align-self: stretch;
            margin: auto;
            width: 50%;
        }

        .input {

        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<body>


<div id="app">


    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Last Name</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input v-model="form.last_name" class="input" type="text" placeholder="Last name">
                </div>
            </div>
        </div>
    </div>


    <div class="field ">
        <div class="control">
            <label class="label">Gender</label>
            <label class="radio">
                <input type="radio" name="question">
                Male
            </label>
            <label class="radio">
                <input type="radio" name="question">
                Female
            </label>
        </div>
    </div>


    <div>
        <div>
            <label class="label">Date of Birth: </label>
        </div>
        <div>
            <input v-model="form.date_of_birth" class="input" type="text" placeholder="Date of birth">
        </div>
    </div>
    <div>
        Email: <input v-model="form.email" class="input" type="text" placeholder="Email">
    </div>
    <div>
        Phone Number: <input v-model="form.phone" class="input" type="tel" placeholder="Phone Number">
    </div>
    <div>
        Country: <input v-model="form.country" class="input" type="text" placeholder="Country">
    </div>
    <div>
        Address: <input v-model="form.address" class="input" type="text" placeholder="Address">
    </div>
    <div>
        Address line 2: <input v-model="form.address_line_2" class="input" type="text" placeholder="Address line 2">
    </div>
    <div>
        City: <input v-model="form.city" class="input" type="text" placeholder="City">
    </div>
    <div>
        State: <input v-model="form.state" class="input" type="text" placeholder="State">
    </div>
    <div>
        Zip: <input v-model="form.zip" class="input" type="text" placeholder="Zip">
    </div>
    <div>
        Emergency contact name: <input v-model="form.emergency_contact_name" class="input" type="text"
                                       placeholder="Emergency contact name">
    </div>
    <div>
        Emergency contact phone: <input v-model="form.emergency_contact_phone" class="input" type="tel"
                                        placeholder="Emergency contact phone">
    </div>
    <div>
        How did you hear about this event?: <input v-model="form.hear_about_us" class="input" type="text"
                                                   placeholder="How did you hear about this event?">
    </div>
    <div>
        Expert Schedule Class: <input v-model="form.expert_schedule_class" class="input" type="text"
                                      placeholder="Expert Schedule Class">
    </div>
    <div>
        Escort Name: <input v-model="form.escort_name" class="input" type="text" placeholder="Escort Name">
    </div>
    <div>
        AMA Membership: <input v-model="form.ama_membership" class="input" type="text" placeholder="AMA Membership">
    </div>
    <div>
        OMRA membership: <input v-model="form.omra_membership" class="input" type="text"
                                placeholder="OMRA membership">
    </div>
    <div>
        Bike Make: <input v-model="form.bike_make" class="input" type="text" placeholder="Bike Make">
    </div>
    <div>
        Ride Together: <input v-model="form.ride_together" class="input" type="text" placeholder="Ride Together">
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">Waiver Modal</a>
            </label>
        </div>

        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-text">Cancel</button>
            </div>
        </div>
    </div>

    <div v-for="(value,key) of form">
        {{key}}: {{ value }} </br><!--placed in data table-->
    </div>
    <div>
        {{first_name}}
    </div>
</div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            form: {
                first_name: '',
                last_name: '',
                gender: '',
                date_of_birth: '',
                email: '',
                phone: '',
                country: '',
                address: '',
                address_line_2: '',
                city: '',
                state: '',
                zip: '',
                emergency_contact_name: '',
                emergency_contact_phone: '',
                expert_schedule_class: '',
                escort_name: '',
                ama_membership: '',
                omra_membership: '',
                bike_make: '',
                ride_together: '',
                schedule_class: ''

            }
        }
    });


</script>

</body>
</html>