{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>GoMoto.io</title>

    <!-- Materialize CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- CDNJS :: Vue (https://cdnjs.com/) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>


</head>

<style>
    #nav_bar {
        text-align: center;
        padding-top: 1%;
        margin: 0;
    }

    .background_color {
        background-color: grey;
        z-index: -1;
    }

    #m_buttons {
        margin: 5px;
        text-align: left;
    }

    .btn-large {
        width: 100%;
        color: black;
        background-color: #ff9900;
        font-size: 12px;
        padding: 5px;
    }

    #main_content {
        background-image: image(GoMoto_Logho01(4).png);
        padding: 0;
        margin: 0;
        min-width: 700px;
    }

    #bike_box {
        padding: 10px;
        padding-right: 0;
        margin-bottom: 20px;
    }

    h5 {
        font-family: "American Typewriter";
    }

</style>

<body>
<div style="" id="app">

    <!--Start Navbar-->
    <div id="nav_bar" style="padding-top: 20px; margin: 0px; background-color: black">
        <img style="width: 30%; height: 20%;" src="{% static 'gomoto/images/GoMoto_Logo.png' %}"/>
    </div>

    <!--Start of the bike body (9/12 boxes)-->
    <div id="main_content" class="background_color" style="padding: 0px; margin: 0px">
        <div id="body_container" class="row">
            <div id="bike_container" class="col s10" style="padding-right: 0px; padding-top: 10px">
                <div v-for="(bike, index) in bikes">
                    <div id="bike_box" class=" z-depth-2"
                         style="padding: 5px; margin-bottom: 20px; background-color: lightgray ">
                        <div class="icon-block row" style="padding: 15px; ">
                            <img class=" light-blue-text left z-depth-2 col s5" style="width: 40%; margin: .75rem
                            ;border-style: solid; border-color: black;border-width: 10px;padding: 0; "
                                 v-bind:src="bike.img_src">
                            <h4 class="center" style="padding-top: 4%;">[[bike.year]] [[bike.make]] [[bike.model]]</h4>
                            <table align="center" class="centered highlight col s6 left" style="margin-left: 65px;">
                                <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>Weight</th>
                                    <th>Starter</th>
                                    <th>Displacement</th>
                                    <th>Seat Height</th>
                                    <th>Category</th>
                                    <th>Engine Type</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>[[bike.price]]</td>
                                    <td>[[bike.weight]]</td>
                                    <td>[[bike.starter]]</td>
                                    <td>[[bike.displacement]]</td>
                                    <td>[[bike.seatheight]]</td>
                                    <td>[[bike.category]]</td>
                                    <td>[[bike.engine_type]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div id="logo">
                <img style=" display: block; width: 15%;margin: auto;"
                     src="{% static 'gomoto/images/GoMoto_mt_bg.png' %}"/>
            </div>
            <h5 class="center" style="padding-top: 1%;"> Prioritize Me</h5>
            <!--Start of the Sidebar (3/12 boxes)-->
            <draggable style="padding-left: 3px" class="dragArea col s2" v-model="list1"
                       @change="log">
                <div v-for="(element, index) in list1">
                    <div class="center">
                        <div id="m_buttons" class="btn-large"><i style=" font-size: 30px;" class="material-icons left">arrow_drop_down_circle</i>[[element.name]]
                            [[index]]
                        </div>
                    </div>
                </div>
            </draggable>
        </div>
    </div>

    <!--
    arrow_back
    arrow_downward
    arrow_drop_down
    arrow_drop_down_circle
    arrow_drop_up
    arrow_forward
    arrow_upward
    keyboard_arrow_down
    keyboard_arrow_up
    -->

    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                bikes: [{
                    year: '2000',
                    make: 'Suzuki',
                    model: 'dzr 400',
                    price: '$9999',
                    starter: 'Electric/ Kick',
                    dry_weight: '',
                    wet_weight: '305 lbs',
                    displacement: '399 cc',
                    seatheight: '36 in',
                    img_src: 'https://dirtbikemagazine.com/wp-content/uploads/2014/11/1141.jpg',
                    category: 'Adventure',
                    engine_type: 'Four-Stroke',
                    weight: '305 lbs'
                },
                    {
                        year: '2015',
                        make: 'KTM',
                        model: 'ecx 500',
                        price: '$12000',
                        starter: 'electric',
                        dry_weight: '221 lbs',
                        wet_weight: '',
                        displacement: '505 cc',
                        seatheight: '38 in',
                        img_src: 'https://dirtbikemagazine.com/wp-content/uploads/2014/11/1141.jpg',
                        category: 'Off-Road',
                        engine_type: 'Four-Stroke',
                        weight: '221 lbs'
                    },
                    {
                        year: '1999',
                        make: 'Yamaha',
                        model: 'XL 250',
                        price: '$9000',
                        starter: 'Kick',
                        dry_weight: '',
                        wet_weight: '190 lbs',
                        displacement: '445 cc',
                        seatheight: '37 in',
                        img_src: 'https://dirtbikemagazine.com/wp-content/uploads/2014/11/1141.jpg',
                        category: 'MX',
                        engine_type: 'Two-Stroke',
                        weight: '190 lbs'
                    }],

                list1: [{
                    id: 1,
                    name: 'shane'
                }, {
                    id: 2,
                    name: 'tim'
                }, {
                    id: 3,
                    name: 'godfree'
                }, {
                    id: 4,
                    name: 'matthew'
                }, {
                    id: 5,
                    name: 'shitner'
                }, {
                    id: 6,
                    name: 'nate'
                }, {
                    id: 7,
                    name: 'dang'
                }, {
                    id: 8,
                    name: 'steve'
                }],
            },
            methods: {
                log: function (e) {
                    output_list = []
                    for (i = 0; i < cars.length; i++) {
                        text += cars[i] + "<br>";
                    }
                    console.log(this.list1[1].name)
                    console.log(this.list1)
                }
            },


        })
    </script>
</div>
</body>
</html>
