<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoMoto.io</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--css-->
    <style>


    </style>

</head>
<body>
    <div id="app">
        <h2>Book-Borrowing-Place</h2>
        <table>
            <tr>
                <td>Author:</td>
                <td>
                    <select name="filter" id="filter" v-model="search_author" v-on:change="search_by_author">
                        <option value="all">All</option>
                        {% for author in authors %}
                            <option value="{{ author.id }}">{{ author }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Book:</td>
                <td>
                    <input id="search" placeholder="search by book title" v-model="search_title" v-on:input="search_by_title">
                </td>
            </tr>
        </table>
            {% csrf_token %}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year Published</th>
                </tr>
                <tr v-for="book in books">
                    <td> [[ book.title ]] </td>
                    <td> [[ book.author ]] </td>
                    <td> [[ book.year ]] </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                bike:[],
                year: '',
                make: '',
                model: '',
                price: '',
                starter: '',
                dry_weight: '',
                wet_weight: '',
                displacement: '',
                seatheight: '',
                img_src: '',
                category: '',
                engine_type: '',

            },
            methods: {
                search_by_title() {
                    let app = this
                    this.search_author = 'all'
                    text = this.search_title
                    if (text === '') text = 'all'
                    axios.get("{% url 'library:filter_title' %}?search_title=" + text)
                        .then(response => {
                            this.books = response.data.books
                    })
                },


                search_by_author() {
                    let app = this
                    this.search_title = ''
                    axios.get("{% url 'library:filter_author' %}?search_author=" + this.search_author)
                        .then(response => {
                            this.books = response.data.books
                    })
                }
            },

            created: function() {
                this.search_by_title()
            }
        })
    </script>
</body>
</html>
