{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>GoMoto.io</title>

    <!-- Materialize CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- CDNJS :: Vue (https://cdnjs.com/) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>


</head>

<style>
    #nav_bar {
        text-align: center;
        padding-top: 1%;
    }

    .greey {
        background-color: rgba(111, 111, 111, .1);
    }

    #m_buttons {
        margin: 5px;
    }

    .font_30 {
        font-size: 30px
    }

    .btn-large {
        width: 100%;

    }
</style>


<body>
<div class="container" id="app">


    <!--Start Navbar-->
    <div id="nav_bar" style="background: black;">
        <img style="width: 30%; height: 20%;" src="{% static 'gomoto/images/GoMoto_Logo.png' %}"/>
    </div>

    <!--Start of the bike body (10/12 boxes)-->
    <div id="body_container" class="row">
        <div id="bike_container" class="col s9 greey">
            <div v-for="(bike, index) in bikes">
                <div class="row">
                    <div class="icon-block">
                        <img class="left light-blue-text center" style="width: 50%"
                             v-bind:src="bike.img_src">
                        <div class=" s2">
                            <h5 class="center">[[bike.year]] [[bike.make]] [[bike.model]]</h5>
                            <p class="light center">Bike 1 Data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Start of the Sidebar (2/12 boxes)-->
        <h5 class="center">Prioritize Me</h5>
        <draggable style="background-color: greenyellow" class="dragArea col s3" v-model="list1" @change="log">
            <div v-for="(element, index) in list1">
                <div class="center lrg">
                    <a id="m_buttons" class="btn-large"><i style=" font-size: 30px" class="material-icons left">arrow_drop_down_circle</i>[[element.name]]
                        [[index]]</a>
                </div>
            </div>
        </draggable>
    </div>


    <!--
    arrow_back
    arrow_downward
    arrow_drop_down
    arrow_drop_down_circle
    arrow_drop_up
    arrow_forward
    arrow_upward
    keyboard_arrow_down
    keyboard_arrow_up
    -->

    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                bikes: [{
                    year: '2000',
                    make: 'Suzuki',
                    model: 'dzr 400',
                    price: '$9999',
                    starter: 'Electric/ Kick',
                    dry_weight: '',
                    wet_weight: '305 lbs',
                    displacement: '399 cc',
                    seatheight: '36 in',
                    img_src: 'https://dirtbikemagazine.com/wp-content/uploads/2014/11/1141.jpg',
                    category: 'Adventure',
                    engine_type: 'Four-Stroke'
                },
                    {
                        year: '2015',
                        make: 'KTM',
                        model: 'ecx 500',
                        price: '$12000',
                        starter: 'electric',
                        dry_weight: '221 lbs',
                        wet_weight: '',
                        displacement: '505 cc',
                        seatheight: '38 in',
                        img_src: 'https://dirtbikemagazine.com/wp-content/uploads/2014/11/1141.jpg',
                        category: 'Off-Road',
                        engine_type: 'Four-Stroke'
                    },
                    {
                        year: '1999',
                        make: 'Yamaha',
                        model: 'XL 250',
                        price: '$9000',
                        starter: 'Kick',
                        dry_weight: '',
                        wet_weight: '190 lbs',
                        displacement: '445 cc',
                        seatheight: '37 in',
                        img_src: 'https://dirtbikemagazine.com/wp-content/uploads/2014/11/1141.jpg',
                        category: 'MX',
                        engine_type: 'Two-Stroke'
                    }],

                list1: [{
                    id: 1,
                    name: 'shane'
                }, {
                    id: 2,
                    name: 'tim'
                }, {
                    id: 3,
                    name: 'nate'
                }, {
                    id: 4,
                    name: 'steve'
                }],
            },
            methods: {
                log: function () {
                    console.log('e.moved.newIndex');
                }
            },

        })
    </script>
</div>
</div>
</body>
</html>
